%h1 
  Courses: 
  = @courses.count

%p
  = link_to "New Course <i class=\"bi bi-plus\"></i>".html_safe, new_course_path, class: 'btn btn-primary'

.row.row-cols-1.row-cols-md-3.g-4
  - @courses.each do |course|
    .col
      = render 'courses/course', course: course
