%hr
%footer.bg-dark.text-white
  .container.p-4
    .row.row-cols-md-3.g-4
      .col
        Copyright
        © 
        = Time.now.year
        CoursePlatform, LLC
      .col
        Privacy Policy
      .col
        About Us
      .col
        %span.bi.bi-envelope-fill{"aria-hidden" => "true"}
        = mail_to 'admin@example.com'
      .col
        Terms and Conditions
      .col
        = link_to 'Teach on CoursePlatform', new_course_path